
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:black;
    color:white;
    font-family:Arial, sans-serif;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

.hero{
    text-align:center;
    animation: fadeIn 2s ease;
}

.top-text{
    color:gold;
    margin-bottom:15px;
    letter-spacing:3px;
}

.main-title{
    font-size:50px;
    text-shadow:0 0 20px rgba(255,255,255,0.8);
    animation: glow 2s infinite alternate;
}

.subtitle{
    margin-top:15px;
    color:#ccc;
    font-size:18px;
}

.btn{
    margin-top:30px;
    padding:14px 35px;
    border:none;
    border-radius:40px;
    background:gold;
    color:black;
    font-size:18px;
    cursor:pointer;
}

@keyframes glow{
    from{
        text-shadow:0 0 10px white;
    }

    to{
        text-shadow:0 0 30px gold;
    }
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(30px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}
